{
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "experimentalObjectRestSpread": true,
        "ecmaFeatures": {
            "arrowFunctions": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": false,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": false,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "jsx": false
        }
    },
    "rules": {
        "arrow-body-style": [
            2,
            "as-needed"
        ],
        "arrow-parens": 0,
        "arrow-spacing": [
            2,
            {
                "before": true,
                "after": true
            }
        ],
        "constructor-super": 0,
        "generator-star-spacing": 0,
        "no-arrow-condition": 0,
        "no-class-assign": 0,
        "no-const-assign": 2,
        "no-dupe-class-members": 0,
        "no-this-before-super": 0,
        "no-var": 2,
        "object-shorthand": [
            2,
            "always"
        ],
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-reflect": 0,
        "prefer-spread": 0,
        "prefer-template": 2,
        "require-yield": 0
    }
}
